header{
  border-bottom: 2px solid gray;
  padding: 10px;
  text-align: center;
}
nav{
  border-right : 2px solid gray;
  width : 200px;
  height: 600px;
  float:left;
}
nav ol{
 list-style: none;
}
article{
  float: left;
  padding : 40px;
}
img{
  width : 200px;
  height : 200px;
  border: 5px solid;
  float: left;
  color : black;
  margin: 30px;
}
li{
  position: relative;
  left : 1%;
}
ul{
  font-size: 25px;
}
